
/*Tipos de display:
etiqueta label se visualiza en inline (no se puede modificar su alto, ni su ancho)
La etiqueta input, y button se visualiza con inline-block
Y las demás etiquetas por defecto tienen display: block*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins&display=swap');

*{
    box-sizing: border-box;

}


body {
    background-color:  #3A98B9;
    color: #EEEEEE;


}

.titulo{
    font-size: 80px;
    font-family: 'Fredoka One', cursive;
}

.subtitulo{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;

}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.tarjetas, .tarjetas-ataques{
    display: flex;
    gap: 30px;
}

.tarjeta-de-mokepon{
    font-family: 'Poppins', sans-serif;
    width: 100px;
    height: 100px;
    background-color: #FFF1DC;
    color: #3A98B9;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    border-radius: 30px;


}


.tarjeta-de-mokepon img{
    width: 80px;
}

#boton-mascota {
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid #FFF1DC ;
    color: #EEEEEE;
    font-weight: bold;
    letter-spacing: 1px;
    width: 180px;
    padding: 10px;

}



input{
    display: none;
}
input:checked + label {
    background-color: #FFECAF;
}
button:active {
    background-color: #FFECAF;
}
#seleccionar-ataque {
    /*display: flex; se toma el estilo en linea de Js*/
    flex-direction: column;
    align-items: center;
}
/* .tarjetas-ataques{
    display: flex;
    flex-direction: row;
    gap: 10px;
} */
.boton-de-ataque {
    background-color: #FFF1DC;
    border-color: transparent;
    width: 80px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    color:#3A98B9;
    font-family: 'Poppins', sans-serif;;
}

#mostrar-mensajes {
    width: 280px;
    background: #FFF1DC;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    color:#3A98B9;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;;
}

#boton-reiniciar {
    border: none;
    color: #3A98B9;;
}
.ataques{
    display: grid;
    grid-template-columns: 100px 100px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.ataques-jugador, .ataques-enemigo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#ver-mapa{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mapa{
    border: 2px solid black;
}
@media (max-width: 360px){
    .tarjetas, .tarjetas-ataques{
        flex-direction: column;
    }
  
}