
/*Tipos de display:
etiqueta label se visualiza en inline (no se puede modificar su alto, ni su ancho)
La etiqueta input, y button se visualiza con inline-block
Y las demás etiquetas por defecto tienen display: block*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins&display=swap');

*{
    box-sizing: border-box;
    

}


body {
    background-color:  #3A98B9;
    color: #EEEEEE;
   
    
}

.titulo{
    font-size: 80px;
    font-family: 'Fredoka One', cursive;
}

.subtitulo{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.tarjetas{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
} 

.tarjeta-de-mokepon{
    font-family: 'Poppins', sans-serif;
    width: 100px;
    height: 100px;
    background-color: #FFF1DC;
    color: #3A98B9;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    border-radius: 30px;
    
    
}


.tarjeta-de-mokepon img{
    width: 80px;
}

#boton-mascota {
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid #FFF1DC ;
    color: #EEEEEE;
    font-weight: bold;
    letter-spacing: 1px;
    width: 180px;
    padding: 10px;

}



input{
    display: none;
}

#seleccionar-ataque {
    /*display: flex; se toma el estilo en linea de Js*/ 
    flex-direction: column;
    align-items: center;
}


